body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

svg {
    background-color: white;
}

.svg-text {
    font-size: 12px;
}